<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28189343074-k0rttnmllnnhj7hudnvp4roijohbps8g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28189343074-k0rttnmllnnhj7hudnvp4roijohbps8g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>28189343074-dtl12fvhb49gajsik22h6nruqdgtc18v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string></string>
	<key>GCM_SENDER_ID</key>
	<string>28189343074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jadeapp.jade</string>
	<key>PROJECT_ID</key>
	<string>jade-dev-1e742</string>
	<key>STORAGE_BUCKET</key>
	<string>jade-dev-1e742.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28189343074:ios:029da12482fb5963b9c03b</string>
</dict>
</plist>
